.below-box{
    height: 14vw;
    background-color: white;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 2vw 0 2vw 0;
}

.belowNavBTNS{
    background-color: #e5efdf;
    height: 9vw;
    width: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.belowNavBTNS:hover {
    background-color: #cfe0c1; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0.0625em 0.125em, rgba(0, 0, 0, 0.3) 0px 0.125em 0.625em, rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset;
    cursor: pointer;
}

.icon{
    height: 4vw;
}

@media (min-width: 300px) and (max-width: 400px) {
    .below-box {
        height: 18vw;
        padding: 3vw 0;
    }

    .belowNavBTNS {
        height: 12vw;
        width: 12vw;
    }

    .icon {
        height: 5vw;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    .below-box {
        height: 16vw;
        padding: 2.5vw 0;
    }

    .belowNavBTNS {
        height: 10vw;
        width: 10vw;
    }

    .icon {
        height: 4.5vw;
    }
}

@media (max-width: 600px) {
    .below-box {
        height: 14vw;
        padding: 2vw 0;
    }

    .belowNavBTNS {
        height: 9vw;
        width: 9vw;
    }

    .icon {
        height: 4vw;
    }
}