/* Home.css */
.top-mostDiv {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.newNav{
    display: none;
}

.everyOneDiv {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

.component-container-div {
    height: calc(100vh - 6vw);
    overflow-y: auto; /* Changed to auto to ensure it scrolls */
    width: 100%;
    flex: 1;
}


.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

@media (min-width: 300px) and (max-width: 550px) {
    .everyOneDiv {
        display: grid;
    }  

    .component-container-div {
        order: 1;
    }
    
    .newNav{
        display: block;
    }

    .div-for-sideNav {
        order: 2;
        width: 100%; /* Ensure it takes the full width in mobile view */
    }
}
