.navbar{
    height: 8vw;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px;
    position: sticky;
}

.logo{
    height: 6.5vw;
    width: 21vw;
}

.navRight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 23vw;
    margin-right: 4vw;
    font-size: 1.4vw;
    gap: 20px;
}

.navBTNS{
    display: flex;
    gap: 3vw;

}

.navBTNS:hover{
    cursor: pointer;
}

.up-inBtns{
    display: flex;
    gap: 0.2vw;
}

.up-inBtns button {
    height: 3.4vw;
    width: 5.4vw;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 1vw;
    transition: box-shadow 0.3s ease;
}

.up-inBtns button:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 3px 6px 0px, rgba(60, 64, 67, 0.15) 0px 3px 6px 2px;
    cursor: pointer;
}


.sup {
    background-color: white;
    color: black;
    border-radius: 10px 0 0 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sin {
    font-size: 2vw;
    background-color: #519350;
    color: white;
    border-radius: 0 10px 10px 0;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.sup:hover {
    background-color: #008000;
    color: #ffffff;
}

.sin:hover {
    background-color: #ffffff; 
    color: #008000;
}

.username{
    font-size: 1.6vw;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    gap: 0.8vw;
    justify-content: center;
    align-items: center;
}

@media (min-width : 1024px ) and (max-width: 1200px) {
    .navRight {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 28vw;
        margin-right: 4vw;
        font-size: 1.7vw;
    }

    .up-inBtns button {
        height: 4.4vw;
        width: 5.8vw;
        border: none;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        font-size: 1.3vw;
        transition: box-shadow 0.3s ease;
    }
    
}

@media (min-width : 768px ) and (max-width: 1023px) {
    .navRight {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 31vw;
        margin-right: 4vw;
        font-size: 2vw;
    }

    .up-inBtns button {
        height: 4.8vw;
        width: 7vw;
        border: none;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        font-size: 1.3vw;
        transition: box-shadow 0.3s ease;
    }
    
}

@media (min-width : 620px ) and (max-width: 767px) {
    .navRight {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 35vw;
        margin-right: 4vw;
        font-size: 2.2vw;
    }

    .logo {
        height: 8.5vw;
        width: 28vw;
    }

    .navbar {
        height: 10vw;
    }

    .up-inBtns button {
        height: 6vw;
        width: 8vw;
        font-size: 1.7vw;
    }
    
}

@media (min-width : 500px) and (max-width: 619px) {
    .navRight {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 41vw;
        margin-right: 4vw;
        font-size: 2.8vw;
    }

    .logo {
        height: 9.5vw;
        width: 30vw;
    }

    .navbar {
        height: 15vw;
    }

    .up-inBtns button {
        height: 7vw;
        width: 9vw;
        font-size: 1.7vw;
    }
}

@media (min-width : 350px) and (max-width: 499px) {
    .navRight {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 48vw;
        margin-right: 4vw;
        font-size: 4vw;
    }

    .logo {
        height: 16.5vw;
        width: 45vw;
    }

    .navbar {
        height: 26vw;
    }

    .up-inBtns button {
        height: 12vw;
        width: 10vw;
        font-size: 2vw;
    }
    
}