@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8vw; 
  height: fit-content;
  font-family: "ABeeZee", sans-serif;
  letter-spacing: 0.2px;
}

.container-box {
  width: 55vw;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 1.1vw 1.3vw 0.8vw 1.3vw;
  margin-bottom: 1px;
  border-radius: 5px 5px 0 0;
}

.searchAndFilter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2vw 0 1.2vw 0;
}

.searchBar {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 36vw;
}

.noPostDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.noPostDiv p{
  font-size: 1.2vw;
}

.dropHead {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.dropMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 0.9vw; 
}

.menu {
  margin: 2px 0 0 3px; 
  background-color: #000000a8;
  color: white;
  width: 16vw; 
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.077);
  z-index: 1;
}

.dropdown-content div {
  color: rgba(0, 0, 0, 0.89);
  padding: 7px 10px; 
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

.profile-div img {
  height: 2vw; 
}

.user-data-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 13px 0; 
}

.profile-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7vw;
}

.user-div {
  display: flex;
  flex-direction: column;
}

.user-div .cb {
  font-size: 0.6vw; 
}

.user-div .un {
  font-size: 0.9vw;
}

.dot-btn {
  height: 1.8vw; 
  width: 1.8vw; 
  border-radius: 8px; 
  border: none;
  background-color: rgba(255, 255, 255, 0.196);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.dots {
  height: 0.9vw;
}

.des-div p{
  font-size: x-large;
}

.img-div {
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 8px;
}

.quillp{
  line-height: 1.6vw;
  font-size: 1vw;
  padding: 0.9vw 0 0.9vw 0;
}

.data-div {
  display: flex;
  flex-direction: column;
}

.tcDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.9vw 0.9vw 0.9vw 0.4vw;
}

.categoryBlog {
  font-size: 0.8vw; 
  color: #686767;
}

.read {
  color: rgb(0, 132, 255);
}

.blog-img{
  height: 14vw;
}

.blog-time{
  font-size: 0.9vw;
}

.title {
  font-size: 1.5vw;
  font-weight: 700;
}

.des-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.6vw 0 0.1vw;
  margin: 1.2vw 0 0.9vw 0; 
}

.des-div .des {
  font-size: 1.2vw;
  font-weight: 500; 
}

.blog-time{
  color: #686767;
  font-style: italic;
}

.line {
  height: 0.4px;
  background-color: rgb(211, 210, 210);
}

.interact {
  width: 55vw;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 0.8vw 1.3vw;
  border-radius: 0 0 5px 5px ;
  margin-bottom: 1.8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-comment{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7vw;
  box-sizing: border-box;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .40rem;
  background-color: #FFFFFF;
  cursor: pointer;
  font-size: 0.9vw;
  color: black;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.add-comment:hover,
.add-comment:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.add-comment:hover {
  transform: translateY(-1px);
}

.add-comment:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.interact-notLogIN {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 55vw;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1.2vw 1.3vw;
  border-radius: 0 0 5px 5px ;
  margin-bottom: 1.8vw;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.01);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.beat-heart {
  animation: heartBeat 0.6s ease-in-out;
}

.ed-options{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0.8vw;
  left: 1.6vw;
}
.ed-options button{
  background-color: white;
  border: none;
  height: 2.2vw;
  border-radius: 2px;
  width: 6vw;
  box-shadow: #0000003d 0px 3px 8px;
  transition: background-color 0.3s ease;
}

.ed-options button:hover {
  background-color: #f0f0f0;
  color: black;
}

.likesDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 4.5vw;
}
.likesCount{
  background-color: rgba(128, 128, 128, 0.182);
  height: 2vw;
  width: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 1vw;
}

.likesDiv #heart{
  font-size: 2vw;
  color: red;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .user-div .un {
      font-size: 1.5vw;
  }
  .user-div .cb {
      font-size: 0.9vw;
  }
  .profile-div img {
      height: 3.5vw;
  }
  .container-box {
      width: 66vw;
  }
  .option-BTN {
      height: 3.5vw;
      width: 3.5vw;
  }
  .dots {
      height: 1.5vw;
  }
  .user-data-div {
      margin: 6px 0 12px 0;
  }
  .ed-options {
      top: 2.5vw;
      left: 0.8vw;
  }
  .ed-options button {
      height: 5.5vw;
      width: 11vw;
      font-size: 1.6vw;
  }
  .tcDiv {
      padding: 1.2vw 0.8vw;
  }
  .title {
      font-size: 1.8vw;
  }
  .categoryBlog {
      font-size: 1.3vw;
  }
  .img-div {
      height: 18vw;
  }
  .blog-img {
      height: 18vw;
  }
  .blog-time {
      font-size: 1.3vw;
  }
  .des-div .des {
      font-size: 1.5vw;
      font-weight: 500;
  }
  .des-div {
      padding: 0.8vw 0;
  }
  .likesDiv #heart {
      font-size: 3vw;
      color: red;
  }
  .quillp {
      line-height: 2.3vw;
      font-size: 1.4vw;
  }
  .interact {
      width: 66vw;
      height: 7vw;
      padding: 0 1.5vw;
  }
  .likesDiv {
      width: 8vw;
  }
  .likesCount {
      width: 4vw;
      height: 4vw;
      font-size: 1.5vw;
  }
  .add-comment {
      height: 5vw;
      width: 15vw;
      font-size: 1.5vw;
  }
  .container {
      margin-bottom: 12vw;
  }
  .searchAndFilter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.2vw 0;
  }

  .searchBar {
    width: 36vw;
  }
  .interact-notLogIN {
    width: 66vw;
  }
}


@media (min-width: 800px) and (max-width: 1000px) {
  .user-div .un {
      font-size: 1.5vw;
  }
  .user-div .cb {
      font-size: 0.9vw;
  }
  .profile-div img {
      height: 3.5vw;
  }
  .container-box {
      width: 66vw;
  }
  .option-BTN {
      height: 3.5vw;
      width: 3.5vw;
  }
  .dots {
      height: 1.5vw;
  }
  .user-data-div {
      margin: 6px 0 12px 0;
  }
  .ed-options {
      top: 2.5vw;
      left: 0.8vw;
  }
  .ed-options button {
      height: 5.5vw;
      width: 11vw;
      font-size: 1.6vw;
  }
  .tcDiv {
      padding: 1.2vw 0.8vw;
  }
  .title {
      font-size: 1.8vw;
  }
  .categoryBlog {
      font-size: 1.3vw;
  }
  .img-div {
      height: 18vw;
  }
  .blog-img {
      height: 18vw;
  }
  .blog-time {
      font-size: 1.3vw;
  }
  .des-div .des {
      font-size: 1.5vw;
      font-weight: 500;
  }
  .des-div {
      padding: 0.8vw 0;
  }

  .likesDiv #heart{
    font-size: 3vw;
    color: red;
  }
  
  .quillp {
    line-height: 2.3vw;
    font-size: 1.4vw;
  }
  .interact {
      width: 66vw;
      height: 7vw;
      padding: 0 1.5vw;
  }
  .likesDiv {
      width: 8vw;
  }
  .likesCount {
      width: 4vw;
      height: 4vw;
      font-size: 1.5vw;
  }
  .add-comment {
      height: 5vw;
      width: 15vw;
      font-size: 1.5vw;
  }
  .container {
      margin-bottom: 12vw;
  }
  .searchAndFilter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.2vw 0;
  }

  .searchBar {
    width: 40vw;
  }

  .interact-notLogIN {
    width: 66vw;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .user-div .un {
      font-size: 2vw;
  }
  .user-div .cb {
      font-size: 1vw;
  }
  .profile-div img {
      height: 4vw;
  }
  .container-box {
      width: 70vw;
  }
  .option-BTN {
      height: 4vw;
      width: 4vw;
  }
  .dots {
      height: 2vw;
  }
  .user-data-div {
      margin: 6px 0 12px 0;
  }
  .ed-options {
      top: 3vw;
      left: 1vw;
  }
  .ed-options button {
      height: 6vw;
      width: 12vw;
      font-size: 1.8vw;
  }
  .tcDiv {
      padding: 1.5vw 1vw;
  }
  .title {
      font-size: 2vw;
  }
  .categoryBlog {
      font-size: 1.5vw;
  }
  .img-div {
      height: 25vw;
  }
  .blog-img {
      height: 25vw;
  }
  .blog-time {
      font-size: 1.5vw;
  }
  .des-div .des {
      font-size: 1.7vw;
      font-weight: 500;
  }
  .des-div {
      padding: 1vw 0;
  }
  .likesDiv #heart{
    font-size: 4vw;
    color: red;
  }
  .quillp {
      line-height: 3.2vw;
      font-size: 1.9vw;
  }
  .interact {
      width: 70vw;
      height: 9vw;
      padding: 0 2vw;
  }
  .likesDiv {
      width: 10vw;
  }
  .bx {
      font-size: 12vw;
  }
  .likesCount {
      width: 5vw;
      height: 5vw;
      font-size: 2vw;
  }
  .add-comment {
      height: 6vw;
      width: 16vw;
      font-size: 1.9vw;
  }
  .container {
      margin-bottom: 14vw;
  }
  .searchAndFilter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 0;
  }

  .searchBar {
    width: 45vw;
  }
  .interact-notLogIN {
    width: 70vw;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .user-div .un {
      font-size: 2vw;
  }
  .user-div .cb {
      font-size: 1vw;
  }
  .profile-div img {
      height: 4vw;
  }
  .container-box {
      width: 70vw;
  }
  .option-BTN {
      height: 4vw;
      width: 4vw;
  }
  .dots {
      height: 2vw;
  }
  .user-data-div {
      margin: 6px 0 12px 0;
  }
  .ed-options {
    top: 2.5vw;
    left: -10.2vw;
  }
  .ed-options button {
      height: 6vw;
      width: 12vw;
      font-size: 1.8vw;
  }
  .tcDiv {
      padding: 1.5vw 1vw;
  }
  .title {
      font-size: 2vw;
  }
  .categoryBlog {
      font-size: 1.5vw;
  }
  .img-div {
      height: 25vw;
  }
  .blog-img {
      height: 25vw;
  }
  .blog-time {
      font-size: 1.5vw;
  }
  .des-div .des {
      font-size: 1.7vw;
      font-weight: 500;
  }
  .des-div {
      padding: 1vw 0;
  }
  .likesDiv #heart {
      font-size: 4vw;
      color: red;
  }
  .quillp {
      line-height: 3.2vw;
      font-size: 1.9vw;
  }
  .interact {
      width: 70vw;
      height: 9vw;
      padding: 0 2vw;
  }
  .likesDiv {
      width: 10vw;
  }
  .bx {
      font-size: 12vw;
  }
  .likesCount {
      width: 5vw;
      height: 5vw;
      font-size: 2vw;
  }
  .add-comment {
      height: 6vw;
      width: 16vw;
      font-size: 1.9vw;
  }
  .container {
      margin-bottom: 14vw;
  }
  .searchAndFilter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 0;
  }

  .searchBar {
    width: 42vw;
  }

  .interact-notLogIN {
    width: 70vw;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .user-div .un {
      font-size: 2.5vw;
  }
  .user-div .cb {
      font-size: 1.2vw;
  }
  .profile-div img {
      height: 5vw;
  }
  .container-box {
      width: 84vw;
  }
  .option-BTN {
      height: 5vw;
      width: 5vw;
  }
  .dots {
      height: 2.5vw;
  }
  .user-data-div {
      margin: 4px 0 10px 0;
  }
  .ed-options {
    top: 2.5vw;
    left: -10.2vw;
  }
  .ed-options button {
      height: 7vw;
      width: 14vw;
      font-size: 2vw;
  }
  .tcDiv {
      padding: 1.8vw 1.2vw;
  }
  .title {
      font-size: 2.3vw;
  }
  .categoryBlog {
      font-size: 1.8vw;
  }
  .img-div {
      height: 28vw;
  }
  .blog-img {
      height: 28vw;
  }
  .blog-time {
      font-size: 1.8vw;
  }
  .des-div .des {
      font-size: 2vw;
      font-weight: 500;
  }
  .des-div {
      padding: 1.2vw 0;
  }
  .likesDiv #heart {
      font-size: 5vw;
      color: red;
  }
  .quillp {
      line-height: 3.5vw;
      font-size: 2.2vw;
  }
  .interact {
      width: 84vw;
      height: 10vw;
      padding: 0 2.5vw;
  }
  .likesDiv {
      width: 12vw;
  }
  .bx {
      font-size: 14vw;
  }
  .likesCount {
      width: 6vw;
      height: 6vw;
      font-size: 2.5vw;
  }
  .add-comment {
      height: 7vw;
      width: 18vw;
      font-size: 2.2vw;
  }
  .container {
      margin-bottom: 16vw;
  }
  .searchAndFilter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 0;
  }

  .searchBar {
    width: 50vw;
  }
  .interact-notLogIN {
    width: 84vw;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .user-div .un {
      font-size: 3vw;
  }
  .user-div .cb {
      font-size: 1.5vw;
  }
  .profile-div img {
      height: 6vw;
  }
  .container-box {
      width: 90vw;
  }
  .option-BTN {
      height: 6vw;
      width: 6vw;
  }
  .dots {
      height: 3vw;
  }
  .user-data-div {
      margin: 4px 0 10px 0;
  }
  .ed-options {
    top: 3.5vw;
    left: -14.2vw;
  }
  .ed-options button {
      height: 8vw;
      width: 16vw;
      font-size: 2.2vw;
  }
  .tcDiv {
      padding: 2.2vw 1.3vw;
  }
  .title {
      font-size: 2.7vw;
  }
  .categoryBlog {
      font-size: 2.2vw;
  }
  .img-div {
      height: 32vw;
  }
  .blog-img {
      height: 32vw;
  }
  .blog-time {
      font-size: 2.2vw;
  }
  .des-div .des {
      font-size: 2.5vw;
      font-weight: 500;
  }
  .des-div {
      padding: 1.5vw 0.5vw;
  }
  .likesDiv #heart {
      font-size: 5.8vw;
      color: red;
  }
  .quillp {
      line-height: 4.2vw;
      font-size: 2.7vw;
  }
  .interact {
      width: 90vw;
      height: 11vw;
      padding: 0 3.5vw;
  }
  .likesDiv {
      width: 14vw;
  }
  .bx {
      font-size: 16vw;
  }
  .likesCount {
      width: 7vw;
      height: 7vw;
      font-size: 3.2vw;
  }
  .add-comment {
      height: 8vw;
      width: 21vw;
      font-size: 2.7vw;
  }
  .container {
      margin-bottom: 30vw;
  }
  .searchAndFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 4vw 0;
  }

  .searchBar {
    width: 80vw;
    margin-bottom: 10vw;
  }

  .interact-notLogIN {
    width: 90vw;
  }
}

@media (max-width: 400px) {
  .user-div .un {
      font-size: 4vw;
  }
  .user-div .cb {
      font-size: 2vw;
  }
  .profile-div img {
      height: 8vw;
  }
  .container-box {
      width: 95vw;
  }
  .option-BTN {
      height: 8vw;
      width: 8vw;
  }
  .dots {
      height: 4vw;
  }
  .user-data-div {
      margin: 3px 0 8px 0;
  }
  .ed-options {
    top: 6.5vw;
    left: -18.2vw;
  }
  .ed-options button {
      height: 10vw;
      width: 20vw;
      font-size: 3vw;
  }
  .tcDiv {
      padding: 2.5vw 1.7vw;
  }
  .title {
      font-size: 3vw;
  }
  .categoryBlog {
      font-size: 2.5vw;
  }
  .img-div {
      height: 35vw;
  }
  .blog-img {
      height: 35vw;
  }
  .blog-time {
      font-size: 2.5vw;
  }
  .des-div .des {
      font-size: 3.2vw;
      font-weight: 500;
  }
  .des-div {
      padding: 1.7vw 0.5vw;
  }
  .likesDiv #heart {
      font-size: 6.2vw;
      color: red;
  }
  .quillp {
      line-height: 4.7vw;
      font-size: 3vw;
  }
  .interact {
      width: 95vw;
      height: 12vw;
      padding: 0 4vw;
  }
  .likesDiv {
      width: 16vw;
  }
  .bx {
      font-size: 18vw;
  }
  .likesCount {
      width: 8vw;
      height: 8vw;
      font-size: 3.5vw;
  }
  .add-comment {
      height: 9vw;
      width: 22vw;
      font-size: 3vw;
  }
  .container {
      margin-bottom: 35vw;
  }
  .searchAndFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 4vw 0;
  }
  .searchBar {
    width: 80vw;
  }
  .interact-notLogIN {
    width: 95vw;
  }
}



