@keyframes disappear {
    from {
        transform: translateX(10%);
    }
    to {
        transform: translateX(0%);
    }
}

.sideNavClose {
    width: 7vw;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 3px 6px 0px, rgba(60, 64, 67, 0.15) 0px 3px 6px 2px;

}

.snTopClose {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    gap: 1.5vw;
}
.snBottomClose{
    padding: 10px 20px 10px 10px;
}
.sideNavIconsClose{
    height: 1.6vw;
}

.snButtonsClose {
    height: 4vw;
    width: 4.5vw;
    border-radius: 0.5vw;
    background-color: #e5efdf;
    display: flex;
    flex-direction: row;
    gap: 3.5vw;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.snButtonsClose:hover {
    background-color: #cfe0c1; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0.0625em 0.125em, rgba(0, 0, 0, 0.3) 0px 0.125em 0.625em, rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset;
    transform: scale(1.01);
    cursor: pointer;
}


.snContainerClose{
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: disappear 0.1s 1 ease;
    height: 105%;
}

.toggleOpen{
    height: 3vw;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 0.5vw;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 3.5vw;
    font-size: 1.2vw;
    padding: 0 0 0 2vw;
}

@media (min-width : 550px) and (max-width: 950px){
    .sideNavClose {
        width: 12vw;
    }
    .snButtonsClose {
        height: 8vw;
        width: 8.5vw;
        border-radius: 1vw;
    }
    .sideNavIconsClose {
        height: 2.5vw;
    }
    .snTopClose {
        gap: 2.5vw;
    }
    .snTopClose .toggle{
        height: 5.5vw;
    }
}