@keyframes appear {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}

.sideNav {
    width: 20vw;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.snTop {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    gap: 1.5vw;
}
.snBottom{
    padding: 10px 20px 10px 10px;
}
.sideNavIcons{
    height: 1.6vw;
}

.snButtons {
    height: 4vw;
    width: 18.5vw;
    border-radius: 0.5vw;
    background-color: #e5efdf;
    display: flex;
    flex-direction: row;
    gap: 3.5vw;
    font-size: 1.2vw;
    padding: 0 0 0 2vw;
    align-items: center;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.snButtons:hover {
    background-color: #d1e1c4; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0.0625em 0.125em, rgba(0, 0, 0, 0.3) 0px 0.125em 0.625em, rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset;
    transform: scale(1.01);
    cursor: pointer;
}


.snContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: appear 0.1s 1 ease;
    height: 105%;
}

.toggle{
    height: 3vw;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

@media (min-width : 550px) and (max-width: 950px){
    .sideNav {
        width: 26vw;
    }
    .snButtons {
        height: 8vw;
        width: 22.5vw;
        border-radius: 1vw;
        font-size: 1.9vw;
        padding: 0 0 0 2vw;
    }
    .snTop {
        gap: 2.5vw;
    }
    .toggleOpen {
        height: 5.5vw;
        font-size: 1.9vw;
        border-radius: 1vw;
    }
    .sideNavIcons{
        height: 2.5vw;
    }
}