@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.signUpContainer {
    background-color: #f0f8ea8f;
    height: 100vh;
}

.bothUpContainers{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.left-cont-Up, .right-cont-Up{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    padding: 30px 20px 20px 20px;
}

.left-cont-Up{
    background-image: url('../assets/formbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Concert One", sans-serif;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 40px 0 0 40px;
    color: white;
    height: 38vw;
    width: 42vw;
}

.right-cont-Up{
    border-radius: 0 40px 40px 0;
    align-items: center;
    padding: 44px 20px 20px 20px;
    height: 38vw;
    width: 42vw;
    
}

.left-cont-Up h1{
    font-size: 4vw;
}

.left-cont-Up h2{
    font-size: 3vw;
}

.left-cont-Up h3{
    font-size: 2vw;
}

.left-cont-Up div{
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-cont-Up .inputFieldsUp{
    background-color: white;
    width: 30vw;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
    padding: 17px 17px 17px ;
    font-size: 1.2vw;
    box-sizing: border-box;
    margin: 15px 0 15px 0;
}


.right-cont-Up .inputFieldsUp:focus {
    border: 2px solid #4CAF50; 
    box-shadow: 0 0 10px #4CAF50;
    outline: none; 
}


.inBTNup{
    margin-top: 2.5vw;
}

.inBTNup {
    background-color: #4a603c;
    border: 1px solid #4a603c;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.534) 0 2px 4px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 14px 28px;
    text-align: center;
    transition: transform 150ms, box-shadow 150ms;
  }
  
  .inBTNup:active {
    transform: translateY(3px);
    box-shadow: rgba(0, 0, 0, 0.8) 0 2px 2px 0;
  }
  
.gBTNup{
    margin: 40px 0 40px 0;
    background-color: white;
    width: 30vw;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
    padding: 17px 17px 17px;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 8vw;
}

.gBTNup img{
    height: 2vw;
}

@media (min-width: 1140px) and (max-width: 1440px) {
    .left-cont-Up{
        height: 48vw;
    }
    .right-cont-Up{
        height: 48vw;
    }
    .right-cont-Up .inputFieldsUp {
        font-size: 1.4vw;
    }
}

@media (min-width: 1024px) and (max-width: 1139px) {
    .left-cont-Up{
        height: 50vw;
    }
    .right-cont-Up{
        height: 50vw;
    }
    .right-cont-Up .inputFieldsUp {
        font-size: 1.4vw;
    }
}

@media (min-width: 940px) and (max-width: 1023px) {
    .left-cont-Up{
        height: 52vw;
    }
    .right-cont-Up{
        height: 52vw;
    }
    .right-cont-Up .inputFieldsUp {
        font-size: 1.4vw;
    }
}

@media (min-width: 850px) and (max-width: 939px) {
    .left-cont-Up{
        height: 58vw;
    }
    .right-cont-Up{
        height: 58vw;
    }
    .right-cont-Up .inputFieldsUp {
        font-size: 1.55vw;
    }
    .gBTNup {
        font-size: 1.5vw;
    }
}

@media (min-width: 750px) and (max-width: 849px) {
    .left-cont-Up{
        height: 62vw;
    }
    .right-cont-Up{
        height: 62vw;
    }
    .right-cont-Up .inputFieldsUp {
        font-size: 1.55vw;
    }
    .gBTNup {
        font-size: 1.5vw;
    }
    .left-cont-Up h1 {
        font-size: 5vw;
    }
    .left-cont-Up h2 {
        font-size: 4vw;
    }
    .left-cont-Up h3 {
        font-size: 3.5vw;
    }    
}

@media (min-width: 550px) and (max-width: 749px) {
    .bothUpContainers {
        display: flex;
        flex-direction: column;
        padding: 10vw 0 10vw;
    }
    
    .left-cont-Up {
        flex-direction: column;
        max-height: fit-content;
        width: 50vw;
        padding: 18px 18px 18px 18px;
        border-radius: 0 30px 0 0;
    }

    .right-cont-Up{
        border-radius: 0 0 0 30px;
        display: flex;
        flex-direction: column;
        width: 50vw;
        box-sizing: border-box;
        padding: 18px 18px 18px 18px;
        height: fit-content;
    }

    .left-cont-Up h1 {
        font-size: 5vw;
    }
    .left-cont-Up h2 {
        font-size: 4vw;
    }
    .left-cont-Up h3 {
        font-size: 3vw;
    }

    .right-cont-Up .inputFieldsUp {
        background-color: white;
        width: 30vw;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 7px;
        padding: 14px 15px 14px;
        font-size: 1.8vw;
    }
    
    .gBTNup {
        font-size: 1.7vw;
    }
    
}

@media (min-width: 350px) and (max-width: 549px) {
    .bothUpContainers {
        display: flex;
        flex-direction: column;
        padding: 10vw 0 10vw;
    }
    
    .left-cont-Up {
        flex-direction: column;
        border-radius: 30px 0 0 0;
        width: 72vw;
        height: 50vw;
        padding: 18px 18px 18px 18px;
    }

    .right-cont-Up{
        border-radius: 0 0 30px 0;
        display: flex;
        flex-direction: column;
        width: 72vw;;
        box-sizing: border-box;
        padding: 18px 18px 18px 18px;
        height: fit-content;
    }

    .left-cont-Up h1 {
        font-size: 7vw;
    }
    .left-cont-Up h2 {
        font-size: 5vw;
    }
    .left-cont-Up h3 {
        font-size: 5vw;
    }

    .right-cont-Up .inputFieldsUp {
        background-color: white;
        width: 57vw;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 7px;
        padding: 14px 15px 14px;
        font-size: 3vw;
    }
    
    .gBTNup {
        font-size: 3vw;
        width: 57vw;
        padding-right: 10vw;
    }

    .gBTNup img{
        height: 5vw;
    }
    
}