@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.signUpContainer {
    background-color: #f0f8ea8f;
    height: 100vh;
}

.bothUpContainers{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.left-cont-Up, .right-cont-Up{
    display: flex;
    flex-direction: column;
    height: 38vw;
    width: 42vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    padding: 30px 20px 20px 20px;
}

.left-cont-Up{
    background-image: url('../assets/formbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Concert One", sans-serif;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 0 40px 40px 0;
    color: white;
}

.right-cont-Up{
    display: flex;
    border-radius: 40px 0 0 40px;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 20px 20px;
}

.left-cont-Up h1{
    font-size: 4vw;
}

.left-cont-Up h2{
    font-size: 3vw;
}

.left-cont-Up h3{
    font-size: 2vw;
}

.left-cont-Up div{
    margin-left: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputFieldsUp{
    background-color: white;
    width: 30vw;
    height: 3.4vw;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
    padding-left: 20px;
    font-size: 1.2vw;
    box-sizing: border-box;
    margin: 15px 0 15px 0;
}

.inBTNup{
    margin-top: 2.5vw;
}

.inBTNup {
    background-color: #4a603c;
    border: 1px solid #4a603c;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.534) 0 2px 4px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 14px 28px;
    text-align: center;
    transition: transform 150ms, box-shadow 150ms;
  }
  
  .inBTNup:active {
    transform: translateY(3px);
    box-shadow: rgba(0, 0, 0, 0.8) 0 2px 2px 0;
  }
  
.gBTNup{
    margin: 40px 0 40px 0;
    background-color: white;
    width: 30vw;
    height: 4vw;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
    padding-left: 20px;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 8vw;
}

.gBTNup img{
    height: 2vw;
}